* {
margin:0;
padding:0;
box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: aquamarine;
  font-family: 'Fredoka', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
    max-width:500px;
    min-height:470px;
    color:white;
    border-radius:20px;
    background-image: linear-gradient(to right, red,rgb(248, 97, 97), rgb(206, 88, 184), rgb(135, 215, 241));
    width:40%;
    min-width:300px;
    height:80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container > img {
max-width:150px;
border-radius: 60%;
margin:10px 0px;
}

input {
    font-size: 1.3rem;
    background-color: transparent;
    border:none;
    border-bottom:2px solid rgb(251, 249, 249);
    color:rgba(251, 249, 249, 0.647);
    width:60%;
    min-width: 200px;
    height:7vh;
    min-height:40px;
    padding:4.3%;
}

::placeholder { 
    color: rgba(255, 255, 255, 0.782);
  }

h1 {
    font-size:3rem;
    margin-bottom: 15px;
}

button {
    padding:0.7rem;
    margin:3% 0;
}
