* {
margin:0;
padding:0;
box-sizing: border-box;
}

body {
    background-image: url("images/concert-2527495.jpg");
  height: 100vh;
  background-color: black;
  font-family: 'Fredoka', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
    max-width:500px;
    min-height:500px;
    color:white;
    border-radius:20px;
    background-image: linear-gradient(to right, red,rgb(248, 97, 97), rgb(206, 88, 184), rgb(135, 215, 241));
    width:40%;
    min-width:300px;
    height:80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container > img {
max-width:150px;
border-radius: 60%;
margin:5vh 0px;
}

input {
    font-size: 1.3rem;
    background-color: transparent;
    border:none;
    border-bottom:2px solid rgb(251, 249, 249);
    color:rgba(251, 249, 249, 0.647);
    width:60%;
    min-width: 200px;
    height:7vh;
    min-height:40px;
    padding:4.3%;
}

::placeholder { 
    color: rgba(255, 255, 255, 0.782);
  }

input:focus {
    color:white;
    font-weight: bold;
}

h1 {
    font-size:3rem;
    text-align: center;
    margin-top:30px;
    margin:3vh 0;
    color:rgb(207, 207, 222);
    text-shadow: 0px 0px 8px rgb(92, 32, 90);
}

button {
    border-radius: 50px;
    border:none;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: transparent;
    color:white;
    padding:0.5rem;
    margin:3vh 0;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.206);
    transform: scale(1,1);
}

.passwordDisplay {
    padding:0 10vw;
    padding-bottom:10vh;
    word-break: break-all;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
