* {
margin:0;
padding:0;
box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: aquamarine;
  font-family: 'Fredoka', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
    width:40%;
    min-width:300px;
    height:80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container > img {
max-width:150px;
border-radius: 60%;
margin:10px 0px;
}

input {
    font-size: 1.3rem;
    background-color: transparent;
    /* border:none; */
    width:40%;
    min-width: 200px;
    height:7vh;
    min-height:40px;
    padding:4.3%;
}
h1 {
    font-size:3rem;
}

button {
    padding:0.7rem;

}
